<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MoSwasthya</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="/static/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">  

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

    <!-- jquery Links -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css" />

    <!-- Libraries Stylesheet -->
    <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/static/css/style.css?ver=1.0" rel="stylesheet">
</head>
<style>

    
.image-grid .card {
    width: 47%;
    /* height: 240px; */
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* background-position: center center; */
    margin-right: 20px;
  }
  
  .image-grid {
    display: flex;
    flex-wrap: wrap;
  }

  
.team-item {
    max-width: 350px;

}

.Available_Day,
.Time {
    font-size: 20px;
}

.doc-card-body {
    margin: 0px 50px 0px 50px;

}
.doc-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    overflow-y: scroll;
    max-height: 500px;
}
</style>


<body>
    <!-- Topbar Start -->
    <div class="container-fluid py-2 border-bottom d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-lg-start mb-2 mb-lg-0">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-decoration-none text-body pe-3" href=""><i class="bi bi-telephone me-2"></i>+012 345 6789</a>
                        <span class="text-body">|</span>
                        <a class="text-decoration-none text-body px-3" href=""><i class="bi bi-envelope me-2"></i>info@example.com</a>
                    </div>
                </div>
                <div class="col-md-6 text-center text-lg-end">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-body px-2" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-body px-2" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-body px-2" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-body px-2" href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="text-body ps-2" href="">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid sticky-top bg-white shadow-sm mb-5">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0">
                <a href="/" class="navbar-brand">
                    <h1 class="m-0 text-primary"><i class="fa fa-clinic-medical me-2"></i>MoSwasthya</h1>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0">
                        <a href="/" class="nav-item nav-link">Home</a>
                        <!-- <a href="about.html" class="nav-item nav-link active">About</a> -->
                        <!-- <a href="service.html" class="nav-item nav-link">Service</a> -->
                        <!-- <a href="price.html" class="nav-item nav-link">Pricing</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu m-0">
                                <a href="blog.html" class="dropdown-item">Blog Grid</a>
                                <a href="detail.html" class="dropdown-item">Blog Detail</a>
                                <a href="team.html" class="dropdown-item">The Team</a>
                                <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                                <a href="appointment.html" class="dropdown-item">Appointment</a>
                                <a href="search.html" class="dropdown-item">Search</a>
                            </div>
                        </div>
                        <a href="contact.html" class="nav-item nav-link">Contact</a> -->
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->

    {% for hospital in setshospitallist %}
    <!-- About Start -->
    <div class="container-fluid ">
        <div class="container">
            <div class="row gx-5">
                
                <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute  rounded" src="/show/{{ hospital.logo }}" style="object-fit: cover;width: 400px;">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="mb-4">
                        <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">About Hospital</h5>
                        <h1 class="display-4">{{hospital.hospital_name}}</h1>
                    </div>
                    <p>{{hospital.about}}</p>
                    <div class="row g-3 pt-3">
                        <div class="col-sm-3 col-6">
                            <div class="bg-light text-center rounded-circle py-4">
                                <i class="fa fa-3x fa-user-md text-primary mb-3"></i>
                                <h6 class="mb-0">Qualified<small class="d-block text-primary">Doctors</small></h6>
                            </div>
                        </div>
                        <div class="col-sm-3 col-6">
                            <div class="bg-light text-center rounded-circle py-4">
                                <i class="fa fa-3x fa-procedures text-primary mb-3"></i>
                                <h6 class="mb-0">Emergency<small class="d-block text-primary">Services</small></h6>
                            </div>
                        </div>
                        <div class="col-sm-3 col-6">
                            <div class="bg-light text-center rounded-circle py-4">
                                <i class="fa fa-3x fa-microscope text-primary mb-3"></i>
                                <h6 class="mb-0">Accurate<small class="d-block text-primary">Testing</small></h6>
                            </div>
                        </div>
                        <div class="col-sm-3 col-6">
                            <div class="bg-light text-center rounded-circle py-4">
                                <i class="fa fa-3x fa-ambulance text-primary mb-3"></i>
                                <h6 class="mb-0">Free<small class="d-block text-primary">Ambulance</small></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    <div class="tabs">
        <ul class="tabs-list">
            <li class="active"><a href="#tab1"><span class="icon"><i class="fa fa-tasks"
                            aria-hidden="true"></i></span>OVERVIEW</a></li>
            <li><a href="#tab2"><span class="icon"><i class="fa fa-user-md"
                            aria-hidden="true"></i></span>DEPARTMENTS</a></li>
            <li><a href="#tab3"><span class="icon"><i class="fa fa-universal-access"
                            aria-hidden="true"></i></span>FACILITIES</a></li>
                            <li><a href="#tab4"><span class="icon"><i class="fas fa-image" aria-hidden="true"></i></span>GALLERY</a></li>
                            <li><a href="#tab5"><span class="icon"><i class="fa fa-user-md" aria-hidden="true"></i></span>DOCTORS</a></li>
        </ul>
        <div id="tab1" class="tab active">
            <div class="tabs_info">
                <h3>OVERVIEW</h3>
                <p> {{hospital.about}}</p>
                <div class="hospital_summary">
                    <h3>Reach Us At</h3>
                    <br>
                    <li>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <a href="https://www.google.com/maps/dir/?api=1&destination={{hospital.address}}" style="text-decoration: none;">
                            {{hospital.address}}</a>
                    </li>
                    <br>
                    <li>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <a href="tel:6742545575" style="text-decoration: none;">{{hospital.contact_number}}</a>
                    </li>
                    <br>
                    <li>
                        <i class="fa fa-inbox" aria-hidden="true"></i>
                        <a href="mailto:{{hospital.hospital_email}}"
                            style="text-decoration: none;">{{hospital.hospital_email}}</a>
                    </li>
                    <br>
                </div>
            </div>
        </div>
        <div id="tab2" class="tab">
            <div class="tabs_info">
                <h3>DEPARTMENTS</h3>
                <div class="cards">
                    {% for department in hospital.department %}
                    <div class="card">

                        <div class="dep-item"><img src="/static/img/Group111.svg" alt="" class="depimg"><span
                                class="depname">{{department}}</span></div>
                    </div>
                    {% endfor %} 
                    <!-- <div class="card">
                        <div class="dep-item"><img src="img\Group111.svg" alt="" class="depimg"><span
                                class="depname">Cardiology</span></div>
                    </div>
                    <div class="card">
                        <div class="dep-item"><img src="img\Group111.svg" alt="" class="depimg"><span
                                class="depname">Cardiology</span></div>
                    </div>
                    <div class="card">
                        <div class="dep-item"><img src="img\Group111.svg" alt="" class="depimg"><span
                                class="depname">Cardiology</span></div>
                    </div>
                    <div class="card">
                        <div class="dep-item"><img src="img\Group111.svg" alt="" class="depimg"><span
                                class="depname">Cardiology</span></div>
                    </div>
                    <div class="card">
                        <div class="dep-item"><img src="img\Group111.svg" alt="" class="depimg"><span
                                class="depname">Cardiology</span></div>
                    </div> -->
                </div>
            </div>
        </div>
        <div id="tab3" class="tab">
            <div class="tabs_info">
                <h3>FACILITIES</h3>
                <div class="cards">
                    {%  if facilities is iterable %}
                        {% for facilty in hospital.facilities %}
                    <div class="card">
                        <div class="fac">
                            <img class="fac-img1" src="/static/img/clear.svg" alt="" class="src">
                            <h1 class="fac-cardtitle">{{facilty.heading}}</h1>
                            <p class="factext">{{facilty.content}}</p>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="card">
                    <div class="fac">
                        <img class="fac-img1" src="/static/img/clear.svg" alt="" class="src">
                        <!-- <h1 class="fac-cardtitle">{{facilty.heading}}</h1> -->
                        <p class="factext">{{hospital.facilities}}</p>
                    </div>
                </div>
                {% endif %}  
                    <!-- <div class="card">
                        <div class="fac">
                            <img class="fac-img2" src="img\Vector (Stroke).svg" alt="" class="src">
                            <h1 class="fac-cardtitle">Transport</h1>
                            <p class="factext">All blood types available
                                24x7 blood donation service
                                Organ storage for transplantation
                                Quick and easy purchase
                                24x7 pharmacy service</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="fac">
                            <img class="fac-img3" src="img\Group111.svg" alt="" class="src">
                            <h1 class="fac-cardtitle">OPD Services</h1>
                            <p class="factext">All blood types available
                                24x7 blood donation service
                                Organ storage for transplantation
                                Quick and easy purchase
                                24x7 pharmacy service</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="fac">
                            <img class="fac-img4" src="img\service.png" alt="" class="src">
                            <h1 class="fac-cardtitle">24/7 Service</h1>
                            <p class="factext">24 hrs CCTV surveilance
                                24/7 services
                                24/7 nursing services
                                Indoor pharmacy
                                24x7 blood donation service</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="fac">
                            <img class="fac-img5" src="img\bloodbank.svg" alt="" class="src">
                            <h1 class="fac-cardtitle">Blood Bank</h1>
                            <p class="factext">All blood types available
                                24x7 blood donation service
                                Organ storage for transplantation</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="fac">
                            <img class="fac-img6" src="img\bed.png" alt="" class="src">
                            <h1 class="fac-cardtitle">40+ Beds</h1>
                            <p class="factext">General ward bed - Rs 500/day
                                ICU bed - RS 1000/day
                                All blood types available
                                24x7 blood donation service
                                Organ storage for transplantation</p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div id="tab4" class="tab">
            <div class="tabs_info">
                <h3>GALLERY</h3>
                <div class="gallery">

                    <div class="image-grid">
                        {%  if images is iterable %}
                            {% for image in hospital.images %}
                            <div class="card" style="width: 21%;">
                                <img  class="card-img" src="/show/{{ image }}">
                            </div>
                            {% endfor %}
                        {% else %}
                        <div class="card" style="width: 47%;">
                            <!-- <div  class="title">hospital.facilities</div> -->
                            <img  class="card-img" src="/show/{{ hospital.images }}">
                        </div>
                            {% endif %}     
                    <!-- <div class="card" style="width: 47%;">
                        <img  class="card-img" src="/show/{{ hospital.images }}">
                            </div> -->
                    </div>
                    <!-- <div class="gallery__column">
                        {%  if images is iterable %}
                            {% for image in hospital.images %}
                        <div class="gallery__link">
                            <figure class="gallery__thumb">
                                <img src="/show/{{ image }}" class="gallery__image">
                            </figure>
                        </div>
                            {% endfor %}
                        {% else %}
                        <div class="gallery__link">
                            <figure class="gallery__thumb">
                                <img src="/show/{{ hospital.images }}" class="gallery__image">
                            </figure>
                        </div>
                        {% endif %}  
                        <div class="gallery__link">
                            <figure class="gallery__thumb">
                                <img src="img\JH4.png" class="gallery__image">
                            </figure>
                        </div>
                    </div>

                    <div class="gallery__column">
                        <div class="gallery__link">
                            <figure class="gallery__thumb">
                                <img src="img\JAGANNATH_HOSPITAL_0.jpg" class="gallery__image">
                            </figure>
                        </div>

                        <div class="gallery__link">
                            <figure class="gallery__thumb">
                                <img src="img\JH1.jpg" class="gallery__image">
                            </figure>
                        </div>

                        <div class="gallery__link">
                            <figure class="gallery__thumb">
                                <img src="img\JH12.jpg" class="gallery__image">
                            </figure>
                        </div>
                    </div>

                    <div class="gallery__column">
                        <div class="gallery__link">
                            <figure class="gallery__thumb">
                                <img src="img\JH6.jpg" class="gallery__image">
                            </figure>
                        </div>

                        <div class="gallery__link">
                            <figure class="gallery__thumb">
                                <img src="img\JH7.png" class="gallery__image">
                            </figure>
                        </div>

                        <div class="gallery__link">
                            <figure class="gallery__thumb">
                                <img src="img\JH8.png" class="gallery__image">
                            </figure>
                        </div>
                    </div>

                    <div class="gallery__column">
                        <div class="gallery__link">
                            <figure class="gallery__thumb">
                                <img src="img\JH9.png" class="gallery__image">
                            </figure>
                        </div>

                        <div class="gallery__link">
                            <figure class="gallery__thumb">
                                <img src="img\JH10.png" class="gallery__image">
                            </figure>
                        </div>

                        <div class="gallery__link">
                            <figure class="gallery__thumb">
                                <img src="img\JH11.png" class="gallery__image">
                            </figure>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div id="tab5" class="tab">
            <div class="tabs_info">
                <h3>OUR DOCTORS</h3>
                <div class="doc-cards">
                    {% for doctor in hospital.doctor_detail %}
                    <div class="team-item">
                        
                        <div class="row g-0 bg-light rounded overflow-hidden">
                            <div class="col-12 col-sm-7 h-100 d-flex flex-column doc-card-body">
                                <div class="mt-auto p-4">
                                    <h3 class="Doctor_Name">{{doctor.Name}}</h3>
                                    <h6 class="fw-normal fst-italic text-primary mb-4 specialization">Cardiology
                                        Specialist</h6>
                                    <p class="Available_Day">{{doctor.Available_Day}}</p>
                                    <p class="Time">{{doctor.Time}}</p>
                                    
                                </div>
                                <div class="d-flex mt-auto border-top p-4">
                                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i
                                            class="far fa-envelope"></i></a>
                                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="tel:{{doctor.Contact_No}}"><i
                                            class="fas fa-phone-square-alt"></i></a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    {% endfor %}
                    
                    <!-- <div class="team-item">
                        <div class="row g-0 bg-light rounded overflow-hidden">
                            <div class="col-12 col-sm-7 h-100 d-flex flex-column doc-card-body">
                                <div class="mt-auto p-4">
                                    <h3 class="Doctor_Name">Dr.Rusheekanta Mohanta</h3>
                                    <h6 class="fw-normal fst-italic text-primary mb-4 specialization">Cardiology
                                        Specialist</h6>
                                    <p class="Available_Day">Mon,Wed,Fri</p>
                                    <p class="Time">8:30am-1:00pm</p>
                                </div>
                                <div class="d-flex mt-auto border-top p-4">
                                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i
                                            class="far fa-envelope"></i></a>
                                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i
                                            class="fas fa-phone-square-alt"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="team-item">
                        <div class="row g-0 bg-light rounded overflow-hidden">
                            <div class="col-12 col-sm-7 h-100 d-flex flex-column doc-card-body">
                                <div class="mt-auto p-4">
                                    <h3 class="Doctor_Name">Dr.Rusheekanta Mohanta</h3>
                                    <h6 class="fw-normal fst-italic text-primary mb-4 specialization">Cardiology
                                        Specialist</h6>
                                    <p class="Available_Day">Mon,Wed,Fri</p>
                                    <p class="Time">8:30am-1:00pm</p>
                                </div>
                                <div class="d-flex mt-auto border-top p-4">
                                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i
                                            class="far fa-envelope"></i></a>
                                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i
                                            class="fas fa-phone-square-alt"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
</div>
    {% endfor %} 
    <script type="text/javascript">
        $(document).ready(function () {

            $(".tabs-list li a").click(function (e) {
                e.preventDefault();
            });

            $(".tabs-list li").click(function () {
                var tabid = $(this).find("a").attr("href");
                $(".tabs-list li,.tabs div.tab").removeClass("active");   // removing active class from tab

                $(".tab").hide();   // hiding open tab
                $(tabid).show();    // show tab
                $(this).addClass("active"); //  adding active class to clicked tab

            });

        });
    </script>


    <!-- Search Start -->
    <!-- <div class="container-fluid bg-primary my-5 py-5">
        <div class="container py-5">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h5 class="d-inline-block text-white text-uppercase border-bottom border-5">Find A Doctor</h5>
                <h1 class="display-4 mb-4">Find A Healthcare Professionals</h1>
                <h5 class="text-white fw-normal">Duo ipsum erat stet dolor sea ut nonumy tempor. Tempor duo lorem eos sit sed ipsum takimata ipsum sit est. Ipsum ea voluptua ipsum sit justo</h5>
            </div>
            <div class="mx-auto" style="width: 100%; max-width: 600px;">
                <div class="input-group">
                    <select class="form-select border-primary w-25" style="height: 60px;">
                        <option selected>Department</option>
                        <option value="1">Department 1</option>
                        <option value="2">Department 2</option>
                        <option value="3">Department 3</option>
                    </select>
                    <input type="text" class="form-control border-primary w-50" placeholder="Keyword">
                    <button class="btn btn-dark border-0 w-25">Search</button>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Search End -->


    <!-- Team Start -->
    <!-- <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Our Doctors</h5>
                <h1 class="display-4">Qualified Healthcare Professionals</h1>
            </div>
            <div class="owl-carousel team-carousel position-relative">
                <div class="team-item">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="img/team-1.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Doctor Name</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Cardiology Specialist</h6>
                                <p class="m-0">Dolor lorem eos dolor duo eirmod sea. Dolor sit magna rebum clita rebum dolor</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="img/team-2.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Doctor Name</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Cardiology Specialist</h6>
                                <p class="m-0">Dolor lorem eos dolor duo eirmod sea. Dolor sit magna rebum clita rebum dolor</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="img/team-3.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Doctor Name</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Cardiology Specialist</h6>
                                <p class="m-0">Dolor lorem eos dolor duo eirmod sea. Dolor sit magna rebum clita rebum dolor</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Team End -->


    <!-- Footer Start -->
    <!-- <div class="container-fluid bg-dark text-light mt-5 py-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">Get In Touch</h4>
                    <p class="mb-4">No dolore ipsum accusam no lorem. Invidunt sed clita kasd clita et et dolor sed dolor</p>
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary me-3"></i>123 Street, New York, USA</p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary me-3"></i>info@example.com</p>
                    <p class="mb-0"><i class="fa fa-phone-alt text-primary me-3"></i>+012 345 67890</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">Quick Links</h4>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Home</a>
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>About Us</a>
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Our Services</a>
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Meet The Team</a>
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Latest Blog</a>
                        <a class="text-light" href="#"><i class="fa fa-angle-right me-2"></i>Contact Us</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">Popular Links</h4>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Home</a>
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>About Us</a>
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Our Services</a>
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Meet The Team</a>
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Latest Blog</a>
                        <a class="text-light" href="#"><i class="fa fa-angle-right me-2"></i>Contact Us</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">Newsletter</h4>
                    <form action="">
                        <div class="input-group">
                            <input type="text" class="form-control p-3 border-0" placeholder="Your Email Address">
                            <button class="btn btn-primary">Sign Up</button>
                        </div>
                    </form>
                    <h6 class="text-primary text-uppercase mt-4 mb-3">Follow Us</h6>
                    <div class="d-flex">
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-light border-top border-secondary py-4">
        <div class="container">
            <div class="row g-5">
                <div class="col-md-6 text-center text-md-start">
                    <p class="mb-md-0">&copy; <a class="text-primary" href="#">Your Site Name</a>. All Rights Reserved.</p>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <p class="mb-0">Designed by <a class="text-primary" href="https://htmlcodex.com">HTML Codex</a></p>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/lib/easing/easing.min.js"></script>
    <script src="/static/lib/waypoints/waypoints.min.js"></script>
    <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/static/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/static/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="/static/js/main.js"></script>
</body>

</html>